html,
body {
  margin: 0;
  padding: 0;
  background-color:black ;

}

#renderCanvas {
  margin: auto;
  width: 100%;
  height: 80%;
}

#proofVideo {
  display: flex;
  margin: auto;
  width: 50%;
  height: 50%;
}